body{
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    background-color: firebrick;
    padding: 12px 32px;
}

div {
    color: darkgreen;
    background-color: lightseagreen; 
    padding: 12px 32px;
}